*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foot-backtotop{
    height: 49px;
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* border: 1px solid #232F3E; */
}

.foot-backtotop a{
    padding: 15px 0px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    background-color: #232F3E;
    width: 1366px;
    display: flex;
    justify-content: center;
}

.foot-backtotop a:hover{
    background-color: #3a4e66;
}

.nav-footcontent{
    height: 719.328px;
}

.nav-foot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 56, 73);
    
}

.nav-footcontent{
    padding-top: 45px;
    display: flex;
    height: 307px;
    padding-bottom:300px;
}

.nav-content-box1{
    height: 251.17px;
    width: 136.06px;
    background-color: rgb(44, 56, 73);
    padding-left: 10px;
    padding-right: 10px;
    
}

.footer-colhead{
    color: white;
    padding: 6px 0px 14px;
    font-size: 16px;
}

.nav-footer-a li{
    list-style: none;
    padding-bottom: 10px;
}

.nav-footer-a li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-footer-a li a:hover{
    text-decoration: underline;
}

.nav-footercolspace{
    width: 97.38px;
    height: 251.17px;
    background-color: rgb(44, 56, 73);
    padding: 0px 10px;
}

.nav-content-box2{
    height: 251.17px;
    width: 142.44px;
    background-color: rgb(44, 56, 73);
    padding-left: 10px;
    padding-right: 10px;
}


.nav-content-box3
{
    height: 251.17px;
    width: 214.73px;
    background-color: rgb(44, 56, 73);
    padding-left: 10px;
    padding-right: 10px;
}


.nav-content-box4{
    height: 251.17px;
    width: 214.73px;
    background-color: rgb(44, 56, 73);
    padding-left: 10px;
    padding-right: 10px;
}

.nav-footline{
    border-top:1px solid white;
    margin-top: 40px;  
}



.footer-pad{
    height: 68px;
    width: 1000px;
    background-color: rgb(44, 56, 73);
     
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
       
}

.footer-link{
    padding: 10px 183px;
    background-color: rgb(44, 56, 73);
    border-top: 2px solid #3a4553;
    
}

.footer-img{
    padding-top: 5px;
}

.footer-img img{
    height: 50px;
    border: 1px solid transparent;
    border-radius: 1000px;
    
    
}

.footer-langselect{
    display: flex;
    padding: 6px 8px 6px 8px;
    border: 1px solid #848688;
    border-radius: 3px;
    margin-right: 4px;
    cursor: pointer;
}

.footer-lang{
    font-size: 13px;
    padding-left: 7.8px;
    padding-right: 7.8px;
}

.footer-scroll{
    padding-left: 7.8px;
}

.footer-lang-container{
    padding-left: 7.2px;
    padding-right: 7.2px;
    margin-left: 50px;
    margin-top: 5px;

}

.footer-country1{
    height: 10px;
    width: 1000px;
    background-color: rgb(44, 56, 73);
     
    display: flex;
    justify-content: center;
    
    color: white;
       
}

.footer-nations{
    padding: 10px 183px;
    background-color: rgb(44, 56, 73);
    padding-bottom:30px ;
}



.footer-country1 ul{
    display: flex;
}

.footer-country1 li{
    list-style: none;
}

.footer-country1 ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 0px 7.2px;
    font-size: 12px;
}

.footer-country1 ul li a:hover{
    text-decoration: underline;
}


.footer-country1{
    height: 21px;
    width: 1000px;
    background-color: rgb(44, 56, 73);
     
    display: flex;
    justify-content: center;
    
    color: white;
    
       
}

.footer-country2 ul{
    display: flex;
    justify-content: center;
}

.footer-country2 li{
    list-style: none;
}

.footer-country2 ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 0px 7.2px;
    font-size: 12px;
}

.footer-country2 ul li a:hover{
    text-decoration: underline;
}

.footer-description{
    height: 160px;
    
    padding: 30px 0px;
    color: #DDDDDD;
    background-color: #15181f;
}

.footer-description-box1{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 45px;
    margin-left: 183px;
    margin-right: 183px;
}

.footer-description-box1 tbody{
    width: 1000px;
    height: 100px;
}

.footer-description-box1 tbody tr{
    width: 1000px;
    height: 40.781px;
}

.footer-description-box1 ul{
    width: 131.41px;
    height: 42px;
    padding: 0px 9px;
    
}

.footer-description-box1 ul:hover{
    text-decoration: underline;
}



.footer-description-box1 ul li a{
    text-decoration: none;
    
}



.footer-description-box1 ul li{
    list-style: none;
    height: 13px;
    
}

.footitems1{
    font-size: 13px;
    color: #DDDDDD;
}

.footbase1{
    font-size: 12px;
    color: #999999;
}


.footspace{
    height: 42px;
    width: 38.16px;
    padding: 0px 10px;
}

.navFooterDescItem1{
    width: 132px;
    height: 42px;
}

.navFooterDescItem1 ul{
    width: 132px;
    height: 42px;
    padding: 0px 9px;
}

.navFooterDescItem2{
    width: 180px;
    height: 42px;
}

.navFooterDescItem2 ul{
    width: 180px;
    height: 42px;
    padding: 0px 9px;
}

.navFooterDescItem3{
    width: 155px;
    height: 42px;
}

.navFooterDescItem3 ul{
    width: 155px;
    height: 42px;
    padding: 0px 9px;
}

.navFooterDescItem4{
    width: 260px;
    height: 42px;
}

.navFooterDescItem4 ul{
    width: 260px;
    height: 42px;
    padding: 0px 9px;
}

.footer-description-space{
    height: 16px;
    width: 132px;
}


.footer-description-box2{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 45px;
    margin-left: 119px;
    margin-right: 247px;
}

.footer-description-box2 tbody{
    width: 1000px;
    height: 100px;
}

.footer-description-box2 tbody tr{
    width: 1000px;
    height: 40.781px;
}

.footer-description-box2 ul{
    width: 120.97px;
    height: 42px;
    padding: 0px 9px;
}

.footer-description-box2 ul li a{
    text-decoration: none;
    
}

.footer-description-box2 ul li{
    list-style: none;
    height: 13px;
}

.footer-description-box2 ul:hover{
    text-decoration: underline;
}

.navFooterDescItem7{
    width: 180px;
    height: 42px;
}

.navFooterDescItem7 ul{
    width: 180px;
    height: 42px;
    padding: 0px 9px;
}

.navFooterDescItem8{
    width: 155px;
    height: 42px;
}

.navFooterDescItem8 ul{
    width: 155px;
    height: 42px;
    padding: 0px 9px;
}

.navFooterDescItem9{
    width: 260px;
    height: 42px;
}

.navFooterDescItem9 ul{
    width: 260px;
    height: 42px;
    padding: 0px 9px;
}


.footer-copyright{
    height: 76px;
    padding: 20px 0px 30px;
    color: #DDDDDD;
    background-color: #15181f;
}



.footer-copydesc ul{
    display: flex;
    justify-content: center;
}

.footer-copydesc li{
    list-style: none;
    font-size: 12px;
    padding: 0px 7.2px;
    height: 18px;
}

.footer-copydesc li:hover{
    text-decoration: underline;
}

.footer-copydesc li a{
    text-decoration: none;
    color: #DDDDDD;
}

.copy-right{
    font-size: 12px;
    display: flex;
    justify-content: center;
}